[project]
	description = A simple GIT post-receive hook script for notifying a room in HipChat.
[access "refs/*"]
	owner = group user/Eric Cohen (eirc)
[access "refs/for/refs/*"]
	read = group user/Eric Cohen (eirc)
	push = group user/Eric Cohen (eirc)
	label-Code-Review = -2..+2 group user/Eric Cohen (eirc)
	label-Verified = -1..+1 group user/Eric Cohen (eirc)
	rebase = group user/Eric Cohen (eirc)
	removeReviewer = group user/Eric Cohen (eirc)
	submit = group user/Eric Cohen (eirc)
[access "refs/heads/*"]
	read = group user/Eric Cohen (eirc)
	create = group user/Eric Cohen (eirc)
	push = +force group user/Eric Cohen (eirc)
	pushMerge = group user/Eric Cohen (eirc)
[access "refs/tags/*"]
	push = +force group user/Eric Cohen (eirc)
	pushTag = group user/Eric Cohen (eirc)
	pushSignedTag = group user/Eric Cohen (eirc)
